<div id="sc-container">
    <br>
    <h1>DOCC Setup is Complete</h1>
    <p><b>Thank you for installing the DOCC app!</b> If you were redirected here directly after activating the plugin then note that setup has 
        already been completed.</p>
    <h2>Next Steps:</h2>
    <ol>
        <li>Send the app's url to your Program Directors and ask them to register.</li>
        <li>Each Program Director should create their program(s) in the app and invite users.</li>
        <li>Follow up with each invitee and make sure they registered their account AND have logged in.</li>
        <li>Train your faculty to use this app when performing Direct Observation of Clinical Care!</li>
    </ol>
    <br/>
    <h2>Important notices regarding maintenance and administration:</h2>
    <p>
        Please note that <u>you are responsible</u> for maintaining and administering your Wordpress installation and hosting environment 
        -- The DOCC plugin is simply one among many plugins to your Wordpress installation. You can read more about maintaining Wordpress 
        <a href="https://wordpress.org/support/article/wordpress-site-maintenance/">here</a>.
    </p>
    <p>
        Part of maintaining your Wordpress installation includes periodically installing updates from third-party plugins. These updates
        will occassionally conflict with the DOCC plugin, breaking functionality. It is your responsibility to maintain and restore a backup of 
        your environment if this happens. You can read more about backing up Wordpress 
        <a href="https://wordpress.org/support/article/wordpress-backups/">here</a>.
    </p>
    <p>
        You are responsible for securing your Wordpress installation and all user-submitted data and we insist that you do not use the app 
        to store sensitive information until you are confident that the data is secure. You can read more about securing Wordpress 
         <a href="https://wordpress.org/support/article/hardening-wordpress/">here</a>.
        
    </p>
    <p>
        If you have questions about any of these notices then please feel free to reach out to us at <a
            href="mailto:support@design.garden">support@design.garden</a> for
        assistance.
    </p>
</div>

<a id="gs-toggle-support-info" href="javascript:void(0)"><i>Did something go wrong during the installation?</i></a>
<br /><br />
<div class="asc-support-info">
    <h2>Option 1: Send an email for Tech Support.</h2>
    <p>If you have encountered any errors or problems during this process then add your email and a description of the issue below and click 'Get support'
        to let our team know you are having trouble.</p>
    <h4>Email</h4>
    <input id='asc-email' type='email' name='email' placeholder="your@email.address"></input>
    <p id='te-error-message'>Please enter a valid email address and try again.</p>
    <h4>Additional Information</h4>
    <textarea id='asc-msg' name='msg' rows="4" cols="50"></textarea>
    <br/><br/>
    <a id='asc-support-email' href="#">Get support</a>
    <br/><br/>
    <h2>Option 2: Try rerunning the setup.</h2>
    <p>If you have encountered any errors or problems during this process then use the button below to delete all data and restart the setup.</p>
    <br>
    <a id='asc-rerun' href="#">Rerun Setup</a>
    <br/><br/>
    <i>CAUTION: This will delete all data. Do not press this button if you have active users.</i>
</div>
<br/><br/>
